################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/RepositoryTest/v17/.wsuo
*.vsidx
*.v2
